<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đổi mật khẩu</title>
        <style>
            body {
                background-color: #053878;
            }

            .wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh; /* Để giữa nội dung theo chiều dọc */
            }

            .form {
                padding: 30px 30px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .password,
            .confirm_password {
                width: 270px;
                height: 30px;
                padding-left: 10px;
                border: 1px solid #d3d3d3;
                outline-color: #d3d3d3;
                border-radius: 5px;
                font-size: 14px;
            }

            .confirm_password {
                margin-top: 10px;
            }

            .btn_summit {
                margin-top: 20px;
                padding: 10px 20px;
                text-transform: uppercase;
                font-size: 16px;
                color: #fff;
                background-color: #053878;
                cursor: pointer;
            }

            .title {
                color: #fff;
            }

            .checkbox {
                margin-left: -150px;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <h1 class="title">Đổi mật khẩu</h1>
            <div style="width: 50%">
                <form class="form" action="" method="post">
                    <input
                        class="password"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Mật khẩu"
                    /><br />
                    <input
                        class="confirm_password"
                        type="password"
                        name="confirmPassword"
                        id="confirm-password"
                        placeholder="Nhập lại mật khẩu"
                    /><br />
                    <div class="checkbox"><input type="checkbox" id="showPassword" /> Hiển thị mật khẩu</div>
                    <input class="btn_summit" type="submit" value="Cập nhật" />
                </form>
            </div>
        </div>

        <script>
            var checkbox = document.getElementById('showPassword');
            var passwordInput = document.getElementById('password');
            var confirmInput = document.getElementById('confirm-password');
            var status = '<%- JSON.stringify(status) %>';

            if (JSON.parse(status) == 'verified') {
                if (confirm('Bạn có muốn đăng nhập?')) {
                    window.location.href = 'http://localhost:3009/login';
                }
            }
            if (JSON.parse(status) == 'nott') {
                alert('Vui lòng nhập trùng mật khẩu');
            }
            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    passwordInput.type = 'text';
                    confirmInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                    confirmInput.type = 'password';
                }
            });
        </script>
    </body>
</html>
